.header__wrapper {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    column-gap: min(70px, 4vw);
}

.header__nav-link {
    font-size: 20px;
    font-weight: 500;
    color: var(--co-black);
    white-space: nowrap;
    position: relative;
}

.header__nav-link:hover{
    color: var(--co-green);
}

.header__nav-link::after{
    content: "";
    background-color: var(--co-green);
    height: 1px;
    left: 0;
    right: 100%;
    position: absolute;
    bottom: -4px;
    transition: 0.3s;
}

.header__nav-link:hover::after{
    right: 0;
}

.header__nav-link:focus-visible{
    outline: 2px solid var(--co-dark-green);
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
}

@media(max-width:992px){
    .btn{
        width: 120px;
    }

    .btn--signin{
    width: 80px;
}
    
    .header__nav-link {
    font-size: 16px;
}
}

@media(max-width:768px){

    .header__wrapper {
    padding: 0 0 0 45px;
}

.btn {
    width: 100px;
}

 .btn--signin{
    width: 70px;
}

    .header__nav {
    display: none;
}
}

