.hero {
    background: url(../assets/webp/BG.webp) center/cover no-repeat;
    width: 100%;
    height: 895px;
}

.hero__content {
    padding: 175px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 420px;
}

.hero__title {
    font-size: 65px;
    font-weight: 700;
    color: var(--co-green);
}

.hero__description {
    font-size: 20px;
    font-weight: 400;
    color: var(--co-black);
    margin: 22px 0 45px;
}

.hero__content .btn{
    width: 230px;
    height: 65px;
}

@media(max-width: 768px){
    .hero {
    height: 700px;
}

 .hero__content {
    padding: 75px 0 0;
}
}

@media(max-width: 480px){
    .hero {
    background: 
    linear-gradient(180deg, rgba(116, 116, 116, 0.534), rgba(255, 152, 18, 0.226)),
    url(../assets/webp/BG.webp) 70% 50%/cover no-repeat;
    height: 600px;
}

.hero__title {
    font-size: 50px;
    max-width: 300px;
}
}


