.mobile-nav {
    display: none;
    position: absolute;
    top: 35px;
    left: 15px;
}
.mobile-nav__burger-icon {
    width: 33px;
    height: 18px;
    cursor: pointer;
}
.mobile-nav__toggler {
    display: none;
}

.mobile-nav__toggler:checked ~ .mobile-nav__menu{
    translate: 0;
}

.mobile-nav__menu {
    padding: 35px 30px 0 0;
    position: fixed;
    background-color: var(--co-white);
    inset: 0;
    translate: -100%;
    transition: 0.5s;
    z-index: 4;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 30px;
}
.mobile-nav__link {
    font-size: 35px;
    color: var(--co-black);
}

.mobile-nav__link:hover{
    color: var(--co-green);
}

.mobile-nav__cross-icon {
    width: 25px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    left: 15px;
}

@media(max-width: 768px){
    .mobile-nav {
    display: block;
}
}