.card-person {
    padding: 22px 0 30px;
    width: 270px;
    height: 290px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--co-white);
    position: absolute;
    top: 360px;
    left: -5px;
    box-shadow: 2px 2px 5px 0 var(--co-black);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--co-black);
}
.card-person__title {
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.card-person__title::after{
    content: "";
    height: 1.5px;
    background-color: var(--co-black);
    left: 0;
    right: 0;
    top: 30px;
    position: absolute;
}
.card-person__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    margin: 37px 0 10px;
}
.card-person__avatar-image {
    width: 110px;
    width: 110px;
    object-fit: cover;
    object-position: -25px -10px;
}
.card-person__name {
    font-size: 12px;
    font-weight: 400;
}
.card-person__description {
    margin: 20px 0 0;
}
.card-person__subtitle {
    font-size: 16px;
    font-weight: 700;
}
.card-person__list {
    list-style: disc;
    margin: 16px 0 0 15px;
}
.card-person__item {
    font-size: 11px;
    font-weight: 400;
    margin: 0 0 15px;
}