.product {
    background-color: var(--co-white);
    padding: 115px 0 170px;
}

.product__wrapper {
    padding: 0 30px 0;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 70px;
    position: relative;
}

.product__preview {
    width: 640px;
    height: 575px;
    border-radius: 18px;
    overflow: hidden;
}

.product__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto 128/115;
}

.product__content {
    margin: 50px 0 0;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
}

.product__title::before{
    content: "Our product";
    font-size: 25px;
    font-weight: 600;
    color: var(--co-black);
    position: absolute;
    top: -50px;
}

.product__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--co-green);
    position: relative;
}

.product__description {
    font-size: 20px;
    font-weight: 400;
    color: var(--co-black);
}

.product__content .btn{
    margin: 20px 0 0;
    width: 230px;
    height: 65px;
}

@media(max-width: 992px){

    .product__preview {
    width: 600px;
}

.product__content {
    max-width: 480px;
}

.product__title {
    font-size: 35px;
}

}

@media(max-width: 768px){
     .product {
    padding: 100px 0 100px;
    }

    .product__wrapper {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    max-width: 500px;
}

.product__content {
    align-items: center;
}

.product__wrapper .card-person {
    display: none;
}
}

