.success {
    background-color: var(--co-dark-green);
}

.success__wrapper {
    padding: 220px 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.success__content {
    margin: 50px 0 0;
    color: var(--co-white);
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
}

.success__title {
    font-size: 50px;
    font-weight: 700;
}

.success__description {
    font-size: 25px;
    font-weight: 600;
}

.success__content .btn{
    margin: 60px 0 0;
    width: 240px;
    height: 65px;
}

.success__content .btn:hover{
    outline: 2px solid var(--co-white);
}

.success__video-cover {
    max-width: 790px;
    height: 455px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.success__video-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto 158/91;
}

.success__play-icon {
    fill: var(--co-white);
    position: absolute;
    z-index: 2;
    width: 71px;
    height: 72px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.success__play-icon:hover{
    fill: var(--co-green);
    cursor: pointer;
}

.success__gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.514)) center/cover no-repeat;
    z-index: 1;
    position: absolute;
    inset: 0;
}

@media(max-width: 1250px){   
    .success__wrapper {
    padding: 80px 0 100px;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.success__content {
    text-align: center;
    align-items: center;
}

.success__video-cover {
    max-width: 700px;
}
}

@media(max-width: 576px){   
    .success__title {
    font-size: 35px;
}

.success__description {
    font-size: 20px;
}

.success__content .btn{
    margin: 30px 0 0;
}
   
}